.innerPageWrapper{
    padding-top: 100px;
}

.commonContent{
	margin: 40px 0;
}

.commonContent p{
    color: #000;
    font-size: 18px;
    font-family: Nunito, sans-serif;
    line-height: 1.4;
    font-weight: 500;
    margin: 0 0 20px;
}

.commonContent img{
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
}

.common__divider{
	background: #fff;
    height: 3px;
	margin: 40px 0;
	width: 100%;
}


.functions__wrapper-single{
	margin: 40px 0;
}

.functions__wrapper-single .functions__list{
	max-width: none;
}

.footer__copyright p{
    margin: 0 0 10px;
}

.footer__copyright a{
    color: #fff;
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    .innerPageWrapper{
        padding-top: 40px;
    }

    .innerPageWrapper .title_h2{
        font-size: 26px;
    }

}